@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Home</PageTitle>

<h1 class="text-red-800">Hello, @_userName</h1>

Welcome to your new app.

@code {
    private string _userName = string.Empty;
    
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity is { IsAuthenticated: true })
        {
            _userName = user.Identity.Name ?? "N/A";
            // You can use userName as needed
        }
    }
}